/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
  .header {
    padding: 3.2rem 6.4rem;
  }

  .header .logo .name {
    font-size: 2.5rem;
  }

  .navbar .nav-items {
    gap: 3rem;
    font-size: 1rem;
  }

  .hero-section {
    padding: 4.8rem 6.4rem;
  }

  .container .info-box .title {
    font-size: 4.5rem;
    margin-bottom: 1rem;
  }

  .container .info-box .about {
    font-size: 1.3rem;
  }

  .btn-box .btn {
    font-size: 1.1rem;
  }

  .more-info-box .icon {
    font-size: 4rem;
  }

  .more-info-box .description {
    font-size: 1.2rem;
  }

  .container .img-box img {
    height: 35rem;
  }

  .clients-section {
    padding: 3.2rem 6.4rem;
  }

  .clients-section .container .section-title {
    font-size: 2.3rem;
  }

  .clients-section .container .img-container img {
    width: 9rem;
  }

  .about-section {
    padding: 2.4rem 6.4rem;
  }

  .about-info .learn {
    font-size: 2.3rem;
  }

  .about-info .info {
    font-size: 1.2rem;
  }

  .portfolio-section {
    padding: 4.8rem 6.4rem;
    text-align: center;
  }

  .container .works {
    font-size: 2.3rem;
  }

  .container .works-container .work {
    font-size: 1.2rem;
  }

  .services-section {
    padding: 3.2rem 6.4rem;
  }

  .services-section .container .services-provided {
    font-size: 2.3rem;
  }

  .container .cards-container {
    padding: 2rem 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .card .card-title {
    font-size: 1.1rem;
  }

  .card .description {
    font-size: 0.9rem;
  }

  .colored-bg .card-title-white {
    font-size: 1.1rem;
  }

  .colored-bg .description-info {
    font-size: 0.9rem;
  }

  .details-section {
    padding: 4.8rem 6.4rem;
  }

  .container .number {
    font-size: 2.5rem;
  }

  .container .detail {
    font-size: 1.2rem;
  }

  .blog-section {
    padding: 6.4rem;
  }

  .container .latest-info {
    font-size: 2.3rem;
  }

  .card .info {
    font-size: 0.8rem;
  }

  .card .info .flex {
    margin-bottom: 1.5rem;
  }

  .card .read-btn {
    font-size: 0.95rem;
  }

  .testimonials-section {
    padding: 1rem 4.8rem 4.8rem 4.8rem;
  }

  .testimonials-section .container .message {
    font-size: 2.3rem;
  }

  .card .testimonial {
    font-size: 0.9rem;
  }

  .card .author-details .author {
    font-size: 0.95rem;
  }

  .card .author-details .occupation {
    color: #555;
    font-size: 0.8rem;
  }

  .talk-section {
    padding: 4.8rem 6.4rem;
  }

  .talk-section .container .emoji {
    font-size: 4.5rem;
  }

  .talk-section .container .question {
    font-size: 2.3rem;
  }

  .talk-section .container .information {
    font-size: 1.15rem;
    word-spacing: 0;
  }

  .container .hire-btn {
    padding: 1rem 2.5rem;
    font-size: 1.1rem;
  }

  .footer {
    padding: 4.8rem 6.4rem 2.4rem 6.4rem;
  }

  .logo-col .logo-box .logo-link {
    font-size: 2.3rem;
  }

  .footer-heading {
    font-size: 1.2rem;
  }

  .footer-link {
    font-size: 1rem;
  }

  .contact-col .message {
    font-size: 1rem;
  }

  .email-link-box .email-link {
    font-size: 0.8rem;
  }

  .email-link-box .plane-icon {
    font-size: 1rem;
  }

  .footer .line {
    margin-bottom: 2rem;
  }

  .footer .copyright {
    font-size: 1rem;
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 80%;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 75%;
  }

  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .navbar {
    background-color: rgba(255, 255, 255, 0.841);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .navbar {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .navbar .nav-items {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    font-size: 1.5rem;
  }

  .navbar .nav-items li a {
    font-weight: 700;
  }

  .hero-section {
    padding: 3.2rem 6.4rem;
  }

  .hero-section .container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .clients-section .container .img-container img {
    width: 8rem;
  }

  .about-section {
    padding: 2.4rem 6.4rem;
  }

  .container .about-img-box {
    align-self: center;
  }

  .btn-box {
    justify-content: center;
  }

  .container .info-box .more-info-box {
    justify-content: center;
    width: 100%;
  }

  .container .info-box .partners {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }

  .container .info-box .title {
    padding-right: 0;
  }

  .portfolio-section {
    padding: 4.8rem 6, 4rem;
    text-align: center;
  }

  .container .works-container {
    padding: 0 3.2rem;
  }

  .container .works-container .work {
    font-size: 1.1rem;
  }

  .container .images-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .images-container .img1 {
    grid-row: 1;
    grid-column: 1/ 2;
  }

  .images-container .img2 {
    grid-row: 1;
    grid-column: 2/ 3;
  }

  .images-container .img3 {
    grid-row: 2;
    grid-column: 1/ 2;
  }

  .images-container .img4 {
    grid-row: 2;
    grid-column: 2/ 3;
  }

  .images-container .img5 {
    grid-row: 3;
    grid-column: 1 /3;
  }

  .about-info .btn-box {
    justify-content: flex-start;
  }

  .container .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .blog-section {
    padding: 3.2rem;
  }

  .services-section {
    padding: 3.2rem;
  }

  .container .blog-cards {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .card .info {
    font-size: 0.73rem;
  }

  .card .card-title {
    font-size: 1rem;
  }

  .testimonials-section {
    padding: 1rem 4rem 4.8rem 4rem;
  }

  .container .testimonial-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
  }

  .card .author-details .author {
    font-size: 0.85rem;
  }

  .talk-section {
    padding: 6.4rem;
  }

  .talk-section .container .information {
    padding: 0 10rem;
  }

  .footer {
    padding: 6.4rem 6.4rem 2.4rem 6.4rem;
  }

  .logo-col .about {
    width: 85%;
  }

  .footer .footer-container {
    grid-template-columns: 1.5fr 1.5fr;
    justify-items: baseline;
    align-items: center;
  }

  .contact-col .email-link-box {
    width: 80%;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  /* HEADER AND NAV */
  .header {
    padding: 2rem;
  }

  .header .logo .name {
    font-size: 2rem;
  }

  /* HERO SECTION */

  .hero-section {
    padding: 2rem;
  }

  .hero-section .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    text-align: center;
  }

  .container .img-box {
    grid-row: 1;
  }

  .container .img-box img {
    height: auto;
  }

  .container .info-box .title {
    font-size: 2.5rem;
    padding: 0;
    margin-bottom: 1rem;
  }

  .container .info-box .about {
    font-size: 1rem;
  }

  .btn-box {
    flex-direction: column;
  }

  .btn-box .btn {
    padding: 1rem;
    font-size: 1rem;
  }

  .btn-box .hire-me-btn {
    width: 100%;
  }

  .container .info-box .more-info-box {
    gap: 1rem;
    width: 100%;
  }

  .more-info-box .icon {
    font-size: 2rem;
  }

  .more-info-box .description {
    font-size: 1rem;
    text-align: left;
  }

  .container .info-box .partners {
    gap: 1rem;
  }

  .container .info-box .partners img {
    width: 4rem;
  }

  /* CLIENTS SECTION */

  .clients-section {
    padding: 2rem;
  }

  .clients-section .container .section-title {
    font-size: 1.5rem;
  }

  .clients-section .container .img-container img {
    width: 3rem;
  }

  /* ABOUT SECTION */

  .about-section {
    padding: 2rem;
  }

  .about-section .container {
    grid-template-columns: 1fr;
    gap: 1rem;
    text-align: center;
  }

  .container .about-img-box img {
    width: 100%;
    margin-bottom: 1rem;
  }

  .about-info .about-title {
    font-size: 1.3rem;
  }

  .about-info .learn {
    font-size: 1.5rem;
  }

  .about-info .info {
    font-size: 1rem;
  }

  /* PORTFOLIO SECTION */
  .portfolio-section {
    padding: 2rem;
  }

  .container .section-title {
    font-size: 1.3rem;
  }

  .container .works {
    font-size: 1.5rem;
  }

  .container .works-container {
    padding: 0 2rem;
    flex-direction: column;
  }

  .container .works-container .work {
    font-size: 1.1rem;
  }

  .container .images-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .images-container .img1 {
    grid-column: 1;
    grid-row: 1;
  }

  .images-container .img2 {
    grid-column: 1;
    grid-row: 2;
  }

  .images-container .img3 {
    grid-column: 1;
    grid-row: 3;
  }

  .images-container .img4 {
    grid-row: 4;
    grid-column: 1;
  }

  .images-container .img5 {
    grid-row: 5;
    grid-column: 1;
  }

  /* SERVICES SECTION */
  .services-section {
    padding: 2rem;
  }

  .services-section .container .services-provided {
    font-size: 1.5rem;
  }

  .container .cards-container {
    padding: 0.5rem;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .cards-container .card {
    padding: 1.5rem;
  }

  .card .icons {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    padding: 0.6rem 1rem;
  }

  .card .card-title {
    font-size: 1rem;
  }

  .card .description {
    font-size: 0.8rem;
  }

  .explore-box .explore-text {
    font-size: 0.8rem;
  }

  .colored-bg .card-title-white {
    font-size: 1rem;
  }

  .colored-bg .description-info {
    font-size: 0.8rem;
  }

  /* DETAILS SECTION */
  .details-section {
    padding: 2rem;
  }

  .details-section .container {
    flex-direction: column;
    gap: 1rem;
  }

  .container .number {
    font-size: 2rem;
  }

  .container .detail {
    font-size: 1rem;
  }

  /* BLOG SECTION */
  .blog-section {
    padding: 2rem;
  }

  .container .section-title {
    font-size: 1.3rem;
  }

  .container .latest-info {
    text-align: center;
    font-size: 1.5rem;
  }

  .container .blog-cards {
    padding: 0 0.5rem;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .blog-cards .card img {
    margin-bottom: 1rem;
  }

  .blog-cards .card {
    padding: 0.5rem;
  }

  .card .info {
    font-size: 0.85rem;
  }

  .card .card-title {
    font-size: 1rem;
  }

  .card .read-btn {
    font-size: 0.9rem;
  }

  /* TESTIMONIALS SECTION */
  .testimonials-section {
    padding: 2rem;
  }

  .testimonials-section .container .message {
    font-size: 1.5rem;
    margin-bottom: 4rem;
  }

  .container .testimonial-cards {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    padding: 0;
  }

  .testimonial-cards .card {
    padding: 2rem;
    margin-bottom: 2rem;
  }

  .card .author-details .author {
    font-size: 0.9rem;
  }

  .card .author-details .occupation {
    font-size: 0.8rem;
  }

  .container .btns {
    display: none;
  }

  /* TALK SECTION */
  .talk-section {
    padding: 2rem;
  }

  .talk-section .container .emoji {
    font-size: 3rem;
  }

  .talk-section .container .question {
    font-size: 1.5rem;
  }

  .talk-section .container .information {
    font-size: 0.9rem;
    word-spacing: 0;
    padding: 0;
  }

  .container .hire-btn {
    padding: 1rem;
    width: 80%;
    font-size: 1rem;
  }

  .footer {
    padding: 2rem;
  }

  .footer .footer-container {
    grid-template-columns: 1fr;
    justify-items: start;
    gap: 2rem;
    margin-bottom: 3rem;
  }

  .logo-col .logo-box .logo-link {
    font-size: 2rem;
  }

  .logo-col .about {
    font-size: 0.9rem;
    margin-bottom: 2rem;
  }

  .footer-heading {
    font-size: 1.2rem;
  }

  .footer-link {
    font-size: 1rem;
  }

  .contact-col .message {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  .contact-col .email-link-box {
    padding: 0.9rem;
    justify-content: flex-start;
    gap: 1rem;
    width: fit-content;
  }

  .email-link-box .email-link {
    font-size: 0.9rem;
  }

  .email-link-box .plane-icon {
    font-size: 1.1rem;
  }

  .footer .line {
    margin-bottom: 1.5rem;
  }

  .footer .copyright {
    font-size: 0.7rem;
  }
}
